.subscribtion-container {
  width: 70%;
  margin: 100px auto;
  border-radius: 20px;
  background-color: #0a033c;
  text-align: center;
  color: white;
  padding: 60px;
  h2 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
  }
  button,
  input {
    padding: 12px 35px;
    border: none;
    font-size: 20px;
    font-weight: bold;
  }
  button {
    background-color: #ff6e5b;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  input {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    &:focus {
      outline: none;
    }
  }
}
