body {
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: "Bigelow Rules", cursive;
  font-family: "Cairo", sans-serif;
  font-family: "Lumanosimo", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  background-color: #f6f1f8;
}

code {
  font-family: "Poppins", sans-serif;
}
